<!DOCTYPE html>
<html lang="en">
    {% include('head.html') %}
    <body>
        {% include('nav_bar.html') %}
        <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">
            <div class="row">
                <div>
                    <form action="{{ url_for('home') }}" method="POST" enctype="application/x-www-form-urlencoded">
                        <div class="form-group">
                            <label for="new-day">New Day</label>
                            <input class="form-control" id="new-day" type="date" name="entry_date">
                        </div>
                        <button class="btn btn-primary" type="submit" value="submit">Add</button>
                    </form>
                    <div class="page-header"></div>
                    {% for res in results %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ res.entry_date }}</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills" role="tablist">
                                <li><a>Protein: <span class="badge">100</span></a></li>
                                <li><a>Carbohydates: <span class="badge">200</span></a></li>
                                <li><a>Fat: <span class="badge">50</span></a></li>
                                <li><a>Calories: <span class="badge">1650</span></a></li>
                                <li><a class="btn btn-link" href="#" type="button">View Detail</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
