{% extends 'base.html' %}

{% block content %}
<div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">
    <div class="row">
        <div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Foods</h3>
                </div>
                <div class="panel-body">
                    {% include 'forms/food_form.html' %}
                    <div class="page-header"></div>
                    {% for food in foods_list %}
                        <ul class="nav nav-pills" role="tablist">
                            <li class="active"><a>{{ food.name }}</a></li>
                            <li><a>Protein: <span class="badge">{{ food.proteins }}</span></a></li>
                            <li><a>Carbohydrates: <span class="badge">{{ food.carbs }}</span></a></li>
                            <li><a>Fat: <span class="badge">{{ food.fats }}</span></a></li>
                            <li><a>Calories: <span class="badge">{{ food.calories }}</span></a></li>
                        </ul>
                        <div class="page-header"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
