<form class="form-horizontal" action="{{ url_for('register') }}" method="POST">
    <fieldset>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="inputName">Name</label>
            <div class="col-lg-10">
                {% include 'elements/error.html' %}
                <input class="form-control" id="inputName" placeholder="Name" type="text" name="name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="inputPassword">Password</label>
            <div class="col-lg-10">
                <input class="form-control" id="inputPassword" placeholder="Password" type="password" name="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </div>
    </fieldset>
</form>
